<!-- app/views/user_mailer/welcome_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo, <%= @user.name %>!</h1>
    <p>
      bem vindo conta criada com sucesso
    </p>
  </body>
</html>
